<div class="body">
<div class="container">
	<div class="row">
		<div class="col-lg-3 ">
			<h2>User info</h2>
			<%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size:"60x60" %>
				<table class="table">
					<tr>
						<th>name</th>
						<td><%= @book.user.name %></td>
					</tr>
					<tbody>
						<th>introduction</th>
						<td><%= @book.user.introduction %></td>
					</tbody>
				</table>

				<% if @book.user_id == current_user.id %>
				<%= link_to "", edit_user_path(current_user.id), class: "btn btn-default glyphicon glyphicon-wrench btn-block" %>
				<% else %>
				<%= link_to "", user_path(current_user.id), class: "btn btn-default glyphicon glyphicon-wrench btn-block" %>
				<% end %>


			<h2>New book</h2>
			<%= form_for(@booknew) do |f| %>
			<h5>Title</h5>
			<%= f.text_field :title ,class: "col-lg-12" %>
			<h5>Opinion</h5>
			<%= f.text_area :body ,class: "col-lg-12"%>
			<div class = "create">
			<%= f.submit 'Create Book',class: "btn btn-primary col-xs-12" %>
			</div>
			<% end %>
			</div>

		<div class="col-lg-9">
			<h2>Book detail</h2>
			<table class="table">
				<thead>
				</thead>
				<tbody>
				<tr>
					<td><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size: "40x40" %><br><br>
						<%= link_to @book.user.name, user_path(@book.user.id) %></td>
					<td><%= link_to @book.title, book_path(@book.id) %></td><td><%= @book.body %></td>
					<% if @book.user_id == current_user.id %>
					<td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></td>
					<td><%= link_to "Delete", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
					<% end %>
				</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>
</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-xs-offset-9">CopyRight Infrafop.inc</div>
		</div>
	</div>
</footer>
